$mb-font-family: 'Work Sans',
    sans-serif;
$mb-color-text-title: #1F1F23;
$mb-color-text-content:#3D3D48;
$mb-bg-color:#F5F5F5;
$mb-bg-color-breadcrum: #FAFEE7;
$mb-color-text-time:#7C7D89;
$mb-text-white: #FFFFFF;